@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,500&display=swap');
*{
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
}

.logo {
    cursor: pointer;
    width: 140px;
    
}

.nav_links{
    list-style: none;
}

.nav_links li{
    display: inline-block;
    padding: 0px 20px;

}

.nav_links li a{
    color: black;
    transition: all 0.3s ease 0s;
    text-decoration: none;
    font-size: 17px;
}

.nav_links li a:hover{
    color: rgb(117, 18, 255,1)
}

#account{
    color: rgb(117, 18, 255,1);
    margin: 10px 20px;
    font-size: 25px;
}

#cart{
    color: rgb(117, 18, 255,1);
    margin: 10px 0px;
    font-size: 25px;
}

.hero-section{
    height: 80vh;
    background-image: url('https://i.pinimg.com/736x/19/a1/fc/19a1fcb4c082b84e2cb5a08a59e7832e.jpg');
    background-size: cover;
    background-repeat: no-repeat;    
    background-position: 1px;
}

.hero-section h1{
    text-align: center;
}

.story-section{
    margin: 40px 16%;
    padding: 20px 50px;
    height: 300px;
    box-shadow: 10px 10px 30px rgba(0,0,0,0.2);
    border-radius: 10px;
}

.story-section h2{
    text-align: center;
    margin-bottom: 15px;
    margin-top: 10px;
    font-size: 36px;
}

.story-section p{
    font-size: 22px;
    line-height: 1.5;
}

.values{
    margin: 40px 16%;
    padding: 20px 50px;
    height: 350px;
    box-shadow: 10px 10px 30px rgba(0,0,0,0.2);
    border-radius: 10px;
}

.values h2{
    text-align: center;
    font-size: 36px;
}
.values-grid{
    display: flex;
    gap: 30px;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.pillar-card {
    flex: 1;
    max-width: 300px;
    padding: 20px;
}

.pillar-card .icon {
    font-size: 2.5em;
    display: block;
    margin-bottom: 15px;
}

.pillar-card h3 {
    font-size: 1.4em;
    font-weight: 500;
    color: #007AFF; 
    margin-bottom: 10px;
}

.container{
    background-color: red;
    margin: auto;
}

.row{
    display: flex;
    flex-wrap: nowrap ;
}

ul{
    list-style-type: none;
}

footer{
    background-color: #24262b;
    padding: 50px 70px;
}

.footer-col{
    width: 30%;
    background-color: #24262b;
    padding: 0 15px;
}

.footer-col h4{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}

.footer-col ul{
    padding: 0;
}

.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: inline;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover{
    color: #ffffff;
    padding-left: 8px;
}

.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0,2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover{
    color: #24262b;
    background-color: #ffffff;
}