@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,500&display=swap');
*{
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
}

.logo {
    cursor: pointer;
    width: 140px;
    
}

.nav_links{
    list-style: none;
}

.nav_links li{
    display: inline-block;
    padding: 0px 20px;

}

.nav_links li a{
    color: black;
    transition: all 0.3s ease 0s;
    text-decoration: none;
    font-size: 17px;
}

.nav_links li a:hover{
    color: rgb(117, 18, 255,1)
}

button{
   color: white;
    padding: 10px 30px;
    font-size: 15px;
    background-color: rgb(117, 18, 255,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover{
    background-color: rgb(98, 0, 236);
}

.hero-section{
    height: 1000px;
    object-position: center;
    background-repeat: no-repeat;
    background-image: url(https://i.pinimg.com/1200x/55/70/79/557079995274ded05d5d4a7750714bf8.jpg);
}

.story-section{
    margin: 10px 16%;
    padding: 20px 50px;
    height: 300px;
    box-shadow: 10px 10px 30px rgba(0,0,0,0.2);
    border-radius: 10px;
}

.story-section h2{
    margin-bottom: 15px;
    margin-top: 10px;
    font-size: 30px;
}

.story-section p{
    font-size: 18px;
    line-height: 1.5;
}

.container{
    background-color: red;
    margin: auto;
}

.row{
    display: flex;
    flex-wrap: nowrap ;
}

ul{
    list-style-type: none;
}

footer{
    background-color: #24262b;
    padding: 50px 70px;
}

.footer-col{
    width: 30%;
    background-color: #24262b;
    padding: 0 15px;
}

.footer-col h4{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}

.footer-col ul{
    padding: 0;
}

.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: inline;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover{
    color: #ffffff;
    padding-left: 8px;
}

.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0,2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover{
    color: #24262b;
    background-color: #ffffff;
}