@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,500&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

.login-container{
    background-image: url(https://i.pinimg.com/736x/9c/c9/8a/9cc98a51fece3a2d58be714649283bd8.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(20px);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
}

.login-box{
    backdrop-filter: blur(10px);
    background: rgba(255,255,255,0.15);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    width: 480px;
    padding: 60px 20px;
}

.login-box h1{
    color: white;
    text-align: center;
    font-size: 40px;
    margin-bottom: 20px;
    font-weight: bold;
}

.detail{
    color: white;
    text-align: center;
    font-size: 21px;
    margin-bottom: 20px;
}

.login-box input{
    padding: 15px;
    margin-bottom: 20px;
    margin-top: 10px;
    border: none;
    font-size: 18px;
    color: white;
    border-bottom: 2px solid white;
    background: none;
}

.login-box input:focus{
    outline: none;
}

.login-box label{
    font-size: 20px;
    color: white;
    font-weight: bold;
}

.login-box input::placeholder{
    color: white;
    font-size: 18px;
}

.login_btn{
    padding: 12px;
    font-size: 20px;
    border-radius: 15px;
    border: none;
    background-color: blueviolet;
    color: white;
    font-weight: bold;
    transition: all 0.2s ease;
}

.login_btn:hover{
    cursor: pointer;
    background-color: rgb(125, 26, 218);
}

.signup{
    margin-top: 26px;
    text-align: center;
    font-size: 20px;
    color: white;
}

.signup a{
    font-weight: bold;
    color: white;
}

.remember{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.remember a{
    font-size: 20px;
    color: white;
    font-weight: bold;
    text-decoration: none;    
}

.check{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.check input{
    cursor: pointer;
    margin-right: 5px;
    width: 18px;
    height: 18px;
    margin: 0;
}

@media screen and (max-width: 600px) {
    .login-container {
        height: 100vh;
        padding: 20px; 
    }

    .login-box {
        width: 100%;       
        max-width: 350px;  
        padding: 40px 20px; 
    }

    .login-box h1 {
        font-size: 30px;   
    }

    .detail {
        font-size: 18px;   
    }

    .login-box label {
        font-size: 18px;
    }

    .login-box input, 
    .login-box input::placeholder {
        font-size: 16px;   
    }

    .remember {
        gap: 15px;
        align-items: center;
    }

    .remember label{
        font-size: 16px;
    }
    .remember a {
        font-size: 16px;
    }

    .signup {
        font-size: 18px;
    }
}

@media screen and (max-width: 360px) {
    .login-container {
        height: 100vh;
    }

    .login-box {
        padding: 30px 15px; 
        border-radius: 12px; 
    }

    .login-box h1 {
        font-size: 26px; 
        margin-bottom: 10px;
    }

    .detail {
        font-size: 15px;
        margin-bottom: 15px;
    }

    .login-box label {
        font-size: 16px;
    }

    .login-box input {
        padding: 10px 5px; 
        font-size: 16px;
        margin-bottom: 15px;
    }

    .login_btn {
        padding: 10px;
        font-size: 18px;
    }

    .remember {
        gap: 10px;
    }

    .check input{
        margin-top: 14px;
        width: 15px;
        height: 15px;
    }
    .remember a, .check label {
        font-size: 14px;
    }

    .signup {
        font-size: 15px;
        margin-top: 20px;
    }
}