@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,500&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

.login-container{
    background-image: url(https://i.pinimg.com/736x/9c/c9/8a/9cc98a51fece3a2d58be714649283bd8.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(20px);
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    background-color: black;
}

.login-box{
    backdrop-filter: blur(10px);
    background: rgba(255,255,255,0.15);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    width: 480px;
    height: 88vh;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 30px 20px;
}

.login-box h1{
    color: white;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}

.form{
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.user{
    padding: 15px;
    width: 100%;
    margin-bottom: 20px;
    margin-top: 10px;
    border: none;
    font-size: 18px;
    color: white;
    border-bottom: 2px solid white;
    background: none;
}
.user option{
    color: black;
}
.login-box input{
    padding: 15px;
    margin-bottom: 20px;
    margin-top: 10px;
    border: none;
    font-size: 18px;
    color: white;
    border-bottom: 2px solid white;
    background: none;
}

.login-box input:focus{
    outline: none;
}

.login-box label{
    font-size: 20px;
    color: white;
    font-weight: bold;
}

.login-box input::placeholder{
    color: white;
    font-size: 18px;
}

.name{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.name input{
    width: 100%;
}

.role{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.role input{
    width: 100%;
}

.sign{
    display: flex;
    flex-direction: column;
}

.login_btn{
    padding: 12px;
    font-size: 20px;
    border-radius: 15px;
    border: none;
    background-color: blueviolet;
    color: white;
    font-weight: bold;
    transition: all 0.2s ease;
}

.login_btn:hover{
    cursor: pointer;
    background-color: rgb(125, 26, 218);
}

.signup{
    margin-top: 26px;
    text-align: center;
    font-size: 20px;
    color: white;
}

.signup a{
    font-weight: bold;
    color: white;
}

.check{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.check input{
    cursor: pointer;
    margin-right: 5px;
    width: 18px;
    height: 18px;
    margin: 0;
}

@media screen and (max-width: 600px) {
    .login-container {
        height: 100vh;
        min-height: 100vh;
        padding: 40px 20px;
    }

    .login-box {
        width: 100%;
        max-width: 400px; 
        padding: 30px 15px;
    }

    .login-box h1 {
        font-size: 32px;
    }

    .detail {
        font-size: 18px;
    }

    .name {
        flex-direction: column;
        gap: 0;
    }

    .name input {
        width: auto;
        max-width: auto;
    }

    .login-box input {
        font-size: 16px;
    }
}

@media screen and (max-width: 380px) {
    .login-box h1 {
        font-size: 28px;
    }

    .login-box label, .signup, .login_btn {
        font-size: 18px;
    }
    
    .check label {
        font-size: 14px;
    }
}
