*{
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

.login-container{
    background-image: url(https://i.pinimg.com/736x/9c/c9/8a/9cc98a51fece3a2d58be714649283bd8.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(20px);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
}

.login-box{
    backdrop-filter: blur(10px);
    background: rgba(255,255,255,0.15);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    width: 480px;
    padding: 60px 20px;
}

.login-box h1{
    color: white;
    text-align: center;
    font-size: 40px;
    margin-bottom: 20px;
    font-weight: bold;
}

.detail{
    color: white;
    text-align: center;
    font-size: 21px;
    margin-bottom: 20px;
}

.login-box input{
    padding: 15px;
    margin-bottom: 20px;
    margin-top: 10px;
    border: none;
    font-size: 18px;
    color: white;
    border-bottom: 2px solid white;
    background: none;
}

.login-box input:focus{
    outline: none;
}

.login-box label{
    font-size: 20px;
    color: white;
    font-weight: bold;
}

.login-box input::placeholder{
    color: white;
    font-size: 18px;
}

.name{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.name input{
    width: 200px;
}

.login_btn{
    padding: 12px;
    font-size: 20px;
    border-radius: 15px;
    border: none;
    background-color: blueviolet;
    color: white;
    font-weight: bold;
}

.signup{
    margin-top: 26px;
    text-align: center;
    font-size: 20px;
    color: white;
}

.signup a{
    font-weight: bold;
    color: white;
}

.check{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.check input{
    margin-right: 5px;
    width: 18px;
    height: 18px;
    margin: 0;
}
