@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,500&display=swap');

*{
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
}

.logo {
    cursor: pointer;
    width: 140px;
    
}

.nav_links{
    list-style: none;
}

.nav_links li{
    display: inline-block;
    padding: 0px 20px;

}

.nav_links li a{
    color: black;
    transition: all 0.3s ease 0s;
    text-decoration: none;
    font-size: 17px;
}

.nav_links li a:hover{
    color: rgb(117, 18, 255,1)
}

button{
    color: white;
    padding: 9px 25px;
    background-color: rgb(117, 18, 255,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover{
    background-color: rgb(98, 0, 236);
}

.hero{
    display: flex;
    height: 100vh;
    align-items: center;
    min-height: 600px;
    max-height: 800px;
    background-color: rgba(192, 192, 192, 0.2);
    margin-bottom: 50px;
}

.hero h1{
    font-size: 60px;
    font-weight: 800;
    letter-spacing: -1px;
    margin: 16px 0;
    background: linear-gradient(90deg, #433798 20%, #1a1423 60%);
    background-clip: text;
    color: transparent;
}

.hero p{
    font-size: 16px;
    line-height: 160%;
}

.buttons{
    display: flex;
    gap: 24px;
    margin-top: 32px;
    font-weight: bold;
}
.btn{
    padding: 12px 50px;
    color: white;
    text-decoration: none;
    background-color: rgb(117, 18, 255,1);
    transition: all 0.3s ease 0s;
}

.btn:hover{
    background-color: rgb(99, 0, 237);
}

.btnoutlined{
    padding: 12px 50px;
    color:  rgb(117, 18, 255,1);
    text-decoration: none;
    background-color: white;
    transition: all 0.3s ease 0s;
    border: 2px solid  rgb(117, 18, 255,1);
}

.btnoutlined:hover{
    background-color: rgb(117, 18, 255,1);
    color: white;
}

.heroleft{
    width: 55%;
    margin-left: 80px;
}

.products{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 100px;
    gap: 60px;
}

.item img{
    width: 120px;
    background-color: rgba(192, 192, 192, 0.2);
    border-radius: 50%;
}

.item h4{
    text-align: center;
}

.item p{
    text-align: center;
}
