@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,500&display=swap');

*{
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
}

.logo {
    cursor: pointer;
    width: 140px;
    
}

.nav_links{
    list-style: none;
}

.nav_links li{
    display: inline-block;
    padding: 0px 20px;

}

.nav_links li a{
    color: black;
    transition: all 0.3s ease 0s;
    text-decoration: none;
    font-size: 17px;
}

.nav_links li a:hover{
    color: rgb(117, 18, 255,1)
}

.loginbtn{
    color: white;
    padding: 10px 30px;
    font-size: 15px;
    background-color: rgb(117, 18, 255,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.loginbtn:hover{
    background-color: rgb(98, 0, 236);
}

.hero{
    display: flex;
    height: 100vh;
    align-items: center;
    min-height: 600px;
    max-height: 800px;
    margin-bottom: 50px;
}

.hero h1{
    font-size: 90px;
    font-weight: 600;
    letter-spacing: -1px;
    margin: 16px 0;
    background: linear-gradient(90deg, #433798 20%, #1a1423 60%);
    background-clip: text;
    color: transparent;
}

.hero p{
    font-size: 26px;
    line-height: 160%;
}

.buttons{
    display: flex;
    gap: 50px;
    margin-top: 32px;
    font-weight: bold;
}
.btn{
    padding: 20px 70px;
    font-size: 24px;
    color: white;
    text-decoration: none;
    background-color: rgb(117, 18, 255,1);
    transition: all 0.3s ease 0s;
    border-radius: 20px;
}

.btn:hover{
    background-color: rgb(99, 0, 237);
}

.btnoutlined{
    padding: 20px 70px;
    font-size: 24px;
    color:  rgb(117, 18, 255,1);
    text-decoration: none;
    background-color: white;
    transition: all 0.3s ease 0s;
    border: 2px solid  rgb(117, 18, 255,1);
    border-radius: 20px;
}

.btnoutlined:hover{
    background-color: rgb(117, 18, 255,1);
    color: white;
}

.heroright{
    width: 50%;
}

.bg_color{
    position: absolute;
    width: 500px;
    height: 500px;
    background-color:rgba(117, 18, 255, 0.438) ;
    right: 0;
    bottom: 50px;
    margin-right: 200px;
    z-index: -1;
    border: 50%;
    filter: blur(80px);
}

.heroright img{
    width: 700px;
    margin-top: 104px;
    margin-right: 160px;
}

.heroleft{
    width: 50%;
    margin-left: 10%;
}

.banners{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
    margin-bottom: 50px;
    height: 400px;
    margin-left: 40px;
    margin-right: 40px;
}

.banner-left{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 30%;
    height: 80%;

}

.banner-left img{
    width: 70%;
    object-fit: cover;
    
}
.banner-middle{
    background-color: white;
    width: 30%;
    height: 80%;
}

.banner-middle img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.banner-right{
    background-color: white;
    width: 30%;
    height: 80%;
}

.banner-right img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.products{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 100px;
    gap: 60px;
}

.item img{
    width: 120px;
    background-color: rgba(192, 192, 192, 0.8);
    border-radius: 50%;
}

.item h4{
    text-align: center;
}

.item p{
    text-align: center;
}

#latest{
    text-align: center;
}

#latest-desc{
    text-align: center;
    margin-bottom: 50px;
}

.tech{
    display: grid;
    justify-content: center;
    gap: 30px;
    grid-template-columns: repeat(4, 270px);
    grid-template-rows: repeat(2,320px);
    margin-bottom: 100px;
}

.tech-item{
    align-content: center;
    min-height: 320px;
    background-color: lightgray;
}

.tech-image{
    width: 150px;
    height: 200px;
    margin-left: 60px;
    margin-bottom: 20px;
}

.subscribe{
    background-color: #433798;
    align-content: center;
    justify-items: center;
    height: 35vh;
    margin-bottom: 30px;
}

.email-section{
    padding: 20px 30px;
    width: 400px;
    border-radius: 15px;
    border: none;
    margin-top: 30px;
    margin-bottom: 20px;
}

.sub-btn{
    padding: 20px 30px;
    margin-left: 20px;
    border-radius: 15px;
    border: none;
}

.container{
    background-color: red;
    margin: auto;
}

.row{
    display: flex;
    flex-wrap: nowrap ;
}

ul{
    list-style-type: none;
}

footer{
    background-color: #24262b;
    padding: 50px 70px;
}

.footer-col{
    width: 30%;
    background-color: #24262b;
    padding: 0 15px;
}

.footer-col h4{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}

.footer-col ul{
    padding: 0;
}

.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: inline;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover{
    color: #ffffff;
    padding-left: 8px;
}

.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0,2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover{
    color: #24262b;
    background-color: #ffffff;
}