@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,500&display=swap');

*{
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
}


header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
}

.logo {
    cursor: pointer;
    width: 140px;
    
}

.nav_links{
    list-style: none;
}

.nav_links li{
    display: inline-block;
    padding: 0px 20px;

}

.nav_links li a{
    color: black;
    transition: all 0.3s ease 0s;
    text-decoration: none;
    font-size: 17px;
}

.nav_links li a:hover{
    color: rgb(117, 18, 255,1)
}

#account{
    color: rgb(117, 18, 255,1);
    margin: 10px 20px;
    font-size: 25px;
}

#cart{
    color: rgb(117, 18, 255,1);
    margin-top: 10px;
    font-size: 25px;
}

.hero{
    display: flex;
    height: 100vh;
    align-items: center;
    min-height: 600px;
    max-height: 800px;
    margin-bottom: 50px;
}

.hero h1{
    font-size: 90px;
    font-weight: 600;
    letter-spacing: -1px;
    margin: 16px 0;
    background: linear-gradient(90deg, #433798 20%, #1a1423 60%);
    background-clip: text;
    color: transparent;
}

.hero p{
    font-size: 26px;
    line-height: 160%;
}

.buttons{
    display: flex;
    gap: 50px;
    margin-top: 32px;
    font-weight: bold;
}
.btn{
    padding: 20px 70px;
    font-size: 24px;
    color: white;
    text-decoration: none;
    background-color: rgb(117, 18, 255,1);
    transition: all 0.3s ease 0s;
    border-radius: 20px;
}

.btn:hover{
    background-color: rgb(99, 0, 237);
}

.btnoutlined{
    padding: 20px 70px;
    font-size: 24px;
    color:  rgb(117, 18, 255,1);
    text-decoration: none;
    background-color: white;
    transition: all 0.3s ease 0s;
    border: 2px solid  rgb(117, 18, 255,1);
    border-radius: 20px;
}

.btnoutlined:hover{
    background-color: rgb(117, 18, 255,1);
    color: white;
}

.heroright{
    width: 50%;
    margin-top: 100px;
    object-fit: contain;
}

.bg_color{
    position: absolute;
    width: 500px;
    height: 500px;
    background-color:rgba(117, 18, 255, 0.438) ;
    right: 0;
    bottom: 0px;
    margin-right: 200px;
    z-index: -1;
    border: 50%;
    filter: blur(80px);
}

.heroright img{
    width: 400px;
    margin-left: 100px;
}

.heroleft{
    width: 50%;
    margin-left: 10%;
}

.banners{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
    margin-bottom: 50px;
    height: 400px;
    margin-left: 40px;
    margin-right: 40px;
}

.banner-left {
    width: 30%;
    height: 80%;
    background-image: url('https://i.pinimg.com/1200x/f6/ba/df/f6badfae51075f9c85bf444b4bf8a94a.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px; 
    position: relative; 
    transition: all 0.5s ease;
}

.bannerl-text {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
}

.bannerl-text h2 {
    font-size: 38px; 
    line-height: 2.5rem;
    font-weight: 800;
    color: white; 
    text-transform: uppercase; 
    letter-spacing: 0.05em; 
    text-shadow: 0 5px 5px rgba(0, 0, 0, 0.5); 
}

.banner-left:hover{
    box-shadow: 5px 5px 20px rgba(62, 62, 62, 0.1);
}

.banner-middle {
    width: 30%;
    height: 80%;
    background-image: url('https://i.pinimg.com/1200x/03/d7/48/03d748d91eb89810022c7884cfe536a3.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px; 
    position: relative; 
    transition: all 0.5s ease;
}

.bannerm-text {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
}

.bannerm-text h2 {
    font-size: 40px; 
    line-height: 2.5rem;
    font-weight: 800;
    color: white; 
    text-transform: uppercase; 
    letter-spacing: 0.05em; 
    text-shadow: 0 5px 5px rgba(0, 0, 0, 0.5); 
}


.banner-middle:hover{
    box-shadow: 5px 5px 20px rgba(62, 62, 62, 0.1);
}

.banner-right {
    width: 30%;
    height: 80%;
    background-image: url('https://i.pinimg.com/1200x/18/30/7d/18307dfde0f655618d822607bda8c931.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px; 
    position: relative; 
    transition: all 0.5s ease;
}

.bannerr-text {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
}

.bannerr-text h2 {
    font-size: 40px; 
    line-height: 2.5rem;
    font-weight: 800;
    color: white; 
    text-transform: uppercase; 
    letter-spacing: 0.05em; 
    text-shadow: 0 5px 5px rgba(0, 0, 0, 0.5); 
}

.banner-right:hover{
    box-shadow: 5px 5px 20px rgba(62, 62, 62, 0.1);
}

#latest{
    text-align: center;
    font-size: 36px;
    margin-bottom: 6px;
}

#latest-desc{
    text-align: center;
    font-size: 36px;
    margin-bottom: 40px;
}

.product-grid {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr)); 
    gap: 25px;
    width: 80%;
    margin: 0 auto;
}

.product-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    background-color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
    transition: transform 0.2s;
}
        
.product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
}

.product-image {
    width: 50%;
    margin: 20px 0;
    border-radius: 4px;
    object-fit: cover;
}

.product-title {
    font-size: 1.5em;
    margin: 0 0 5px 0;
    color: #333;
}

.product-price {
    font-size: 1.4em;
    font-weight: bold;
    color: black; 
    margin-bottom: 5px;
}

.product-category {
    color: #888;
    margin-bottom: 15px;
}

.add-to-cart {
    background-color: rgb(117, 18, 255,1);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-transform: uppercase;
    font-weight: 600;
}

.add-to-cart:hover {
    background-color: rgb(99, 0, 237);
}

.sale-section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

.sale-title h1{
    font-size: 50px;
}

.sale-title p{
    font-size: 26px;
    margin-top: 20px;
    margin-bottom: 15px;
}

.sale-title button{
    padding: 20px 50px;
    font-size: 24px;
    color: white;
    text-decoration: none;
    background-color: rgb(117, 18, 255,1);
    border-radius: 20px;
    border: none;
    margin-top: 20px;
    transition: all 0.3s ease 0s;
}

.sale-title button:hover{
    transform: translateY(-2px);
}

.sale-image{
    display: flex;
    width: 60%;
    justify-content: center;
    align-items: center;
}

.sale-image img{
    width: 100%;
    margin-left: 20px;
    transition: all 0.3s ease 0s;

}

.sale-image img:hover{
    transform: translateY(-6px);
}

.subscribe{
    margin-top: 40px;
    background-color: rgb(122, 28, 255);
    align-content: center;
    justify-items: center;
    height: 40vh;
}

.email-section{
    padding: 20px 30px;
    font-size: 16px;
    width: 400px;
    border-radius: 15px;
    border: none;
    margin-top: 30px;
    margin-bottom: 20px;
}

.email-section:focus{
    outline: none;
}

.sub-btn{
    padding: 20px 30px;
    margin-left: 20px;
    font-size: 16px;
    border-radius: 15px;
    border: none;
}

.container{
    background-color: red;
    margin: auto;
}

.row{
    display: flex;
    flex-wrap: nowrap ;
}

ul{
    list-style-type: none;
}

footer{
    background-color: #24262b;
    padding: 50px 70px;
}

.footer-col{
    width: 30%;
    background-color: #24262b;
    padding: 0 15px;
}

.footer-col h4{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    font-weight: 500;
    position: relative;
    display: inline;
    border-bottom: 2px solid rgb(117, 18, 255,1);
}


.footer-col ul li{
    margin-bottom: 10px;
}

.footer-col ul{
    margin-top: 20px;
    padding: 0;
}

.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: inline;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover{
    color: #ffffff;
    padding-left: 8px;
}

.footer-col .social-links{
    margin-top: 20px;
}

.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0,2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover{
    color: #24262b;
    background-color: #ffffff;
}       