@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,500&display=swap');

*{
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
}

.logo {
    cursor: pointer;
    width: 140px;
}

.menu-toggle {
    display: none;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #333;
}

.nav_links{
    list-style: none;
    margin-right: 30px;
}

.nav_links li{
    display: inline-block;
    padding: 0px 20px;

}

.nav_links li a{
    color: black;
    transition: all 0.3s ease 0s;
    text-decoration: none;
    font-size: 17px;
}

.nav_links li a:hover{
    color: rgb(117, 18, 255,1)
}

#account{
    color: rgb(117, 18, 255,1);
    margin: 10px 20px;
    font-size: 25px;
}

#cart{
    color: rgb(117, 18, 255,1);
    margin-top: 10px;
    font-size: 25px;
}

.hero{
    display: flex;
    height: 100vh;
    align-items: center;
    min-height: 600px;
    max-height: 800px;
    margin-bottom: 50px;
}

.hero h1{
    font-size: 90px;
    font-weight: 600;
    letter-spacing: -1px;
    margin: 16px 0;
    background: linear-gradient(90deg, #433798 20%, #1a1423 60%);
    background-clip: text;
    color: transparent;
}

.hero p{
    font-size: 26px;
    line-height: 160%;
}

.buttons{
    display: flex;
    gap: 50px;
    margin-top: 32px;
    font-weight: bold;
}

.buttons a{
    width: 200px;
    font-size: 24px;
    padding: 20px 30px;

}

.btn{
    color: white;
    text-decoration: none;
    text-align: center;
    background-color: rgb(117, 18, 255,1);
    transition: all 0.3s ease 0s;
    border-radius: 20px;
}

.btn:hover{
    background-color: rgb(99, 0, 237);
}

.btnoutlined{
    color:  rgb(117, 18, 255,1);
    text-decoration: none;
    text-align: center;
    background-color: white;
    transition: all 0.3s ease 0s;
    border: 2px solid  rgb(117, 18, 255,1);
    border-radius: 20px;
}

.btnoutlined:hover{
    background-color: rgb(117, 18, 255,1);
    color: white;
}

.heroright{
    width: 50%;
    height: 100%;    
}


.heroright img{
    width: 100%;
}

.heroleft{
    width: 50%;
    margin-left: 10%;
}

.banners{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
    margin-bottom: 50px;
    height: 400px;
    margin-left: 40px;
    margin-right: 40px;
}

.banner-left {
    width: 30%;
    height: 80%;
    background-image: url('https://i.pinimg.com/1200x/f6/ba/df/f6badfae51075f9c85bf444b4bf8a94a.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px; 
    position: relative; 
    transition: all 0.5s ease;
}

.bannerl-text {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
}

.bannerl-text h2 {
    font-size: 38px; 
    line-height: 2.5rem;
    font-weight: 800;
    color: white; 
    text-transform: uppercase; 
    letter-spacing: 0.05em; 
    text-shadow: 0 5px 5px rgba(0, 0, 0, 0.5); 
}

.banner-left:hover{
    box-shadow: 5px 5px 20px rgba(62, 62, 62, 0.1);
}

.banner-middle {
    width: 30%;
    height: 80%;
    background-image: url('https://i.pinimg.com/1200x/03/d7/48/03d748d91eb89810022c7884cfe536a3.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px; 
    position: relative; 
    transition: all 0.5s ease;
}

.bannerm-text {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
}

.bannerm-text h2 {
    font-size: 40px; 
    line-height: 2.5rem;
    font-weight: 800;
    color: white; 
    text-transform: uppercase; 
    letter-spacing: 0.05em; 
    text-shadow: 0 5px 5px rgba(0, 0, 0, 0.5); 
}


.banner-middle:hover{
    box-shadow: 5px 5px 20px rgba(62, 62, 62, 0.1);
}

.banner-right {
    width: 30%;
    height: 80%;
    background-image: url('https://i.pinimg.com/1200x/18/30/7d/18307dfde0f655618d822607bda8c931.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 10px; 
    position: relative; 
    transition: all 0.5s ease;
}

.bannerr-text {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
}

.bannerr-text h2 {
    font-size: 40px; 
    line-height: 2.5rem;
    font-weight: 800;
    color: white; 
    text-transform: uppercase; 
    letter-spacing: 0.05em; 
    text-shadow: 0 5px 5px rgba(0, 0, 0, 0.5); 
}

.banner-right:hover{
    box-shadow: 5px 5px 20px rgba(62, 62, 62, 0.1);
}

#latest{
    text-align: center;
    font-size: 36px;
    margin-bottom: 6px;
}

#latest-desc{
    text-align: center;
    font-size: 36px;
    margin-bottom: 40px;
}

.product-grid {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr)); 
    gap: 25px;
    width: 80%;
    margin: 0 auto;
}

.product-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    background-color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
    transition: transform 0.2s;
}
        
.product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
}

.product-image {
    width: 50%;
    margin: 20px 0;
    border-radius: 4px;
    object-fit: cover;
}

.product-title {
    font-size: 1.5em;
    margin: 0 0 5px 0;
    color: #333;
}

.product-price {
    font-size: 1.4em;
    font-weight: bold;
    color: black; 
    margin-bottom: 5px;
}

.product-category {
    color: #888;
    margin-bottom: 15px;
}

.add-to-cart {
    background-color: rgb(117, 18, 255,1);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-transform: uppercase;
    font-weight: 600;
}

.add-to-cart:hover {
    background-color: rgb(99, 0, 237);
}

.sale-section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

.sale-title h1{
    font-size: 50px;
}

.sale-title p{
    font-size: 26px;
    margin-top: 20px;
    margin-bottom: 15px;
}

.sale-title button{
    padding: 20px 50px;
    font-size: 24px;
    color: white;
    text-decoration: none;
    background-color: rgb(117, 18, 255,1);
    border-radius: 20px;
    border: none;
    margin-top: 20px;
    transition: all 0.3s ease 0s;
}

.sale-title button:hover{
    transform: translateY(-2px);
}

.sale-image{
    display: flex;
    width: 60%;
    justify-content: center;
    align-items: center;
}

.sale-image img{
    width: 100%;
    margin-left: 20px;
    transition: all 0.3s ease 0s;

}

.sale-image img:hover{
    transform: translateY(-6px);
}

.subscribe{
    text-align: center;
    margin-top: 40px;
    background-color: rgb(122, 28, 255);
    align-content: center;
    justify-items: center;
    height: auto;
}

.subscribe h1{
    margin-top: 20px;
}

.email-section{
    padding: 20px 30px;
    font-size: 16px;
    width: 400px;
    border-radius: 15px;
    border: none;
    margin-top: 30px;
    margin-bottom: 20px;
}

.email-section:focus{
    outline: none;
}

.sub-btn{
    padding: 20px 30px;
    margin-left: 20px;
    font-size: 16px;
    border-radius: 15px;
    border: none;
}

.container{
    margin: auto;
}

.row{
    display: flex;
    flex-wrap: nowrap ;
}

ul{
    list-style-type: none;
}

footer{
    background-color: #24262b;
    padding: 50px 70px;
}

.footer-col{
    width: 30%;
    background-color: #24262b;
    padding: 0 15px;
}

.footer-col h4{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    font-weight: 500;
    position: relative;
    display: inline;
    border-bottom: 2px solid rgb(117, 18, 255,1);
}


.footer-col ul li{
    margin-bottom: 10px;
}

.footer-col ul{
    margin-top: 20px;
    padding: 0;
}

.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: inline;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover{
    color: #ffffff;
    padding-left: 8px;
}

.footer-col .social-links{
    margin-top: 20px;
}

.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0,2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover{
    color: #24262b;
    background-color: #ffffff;
}  

@media screen and (max-width: 1024px) {
    header {
        padding: 20px 5%;
    }

    .hero{
        max-height: 500px;
    }
    .heroleft h1{
        font-size: 52px;
    }
    .heroleft p{
        font-size: 22px;
    }

    .buttons a{
        font-size: 22px;
        text-align: center;
        padding: 14px 30px;
    }
    .product-card{
        margin-left: auto;
        margin-right: auto;
        height: 350px;
        width: 260px;
    }
    .subscribe{
        height: auto;

    }
    .subscribe h1{
        margin-top: 20px;
    }
    .subscribe h3{
        text-align: center;
        width: 80%;
    }
     .sale-title{
        width: 50%;
    }

    .sale-section{
        width: auto;
        margin-left: 50px;
        margin-right: 50px;
    }
    .sale-title h1{
        font-size: 32px;
    }
    .sale-title p{
        font-size: 24px;
    }
    .sale-title button{
        width: 180px;
        height: 60px;
        padding: 10px 10px;
        font-size: 20px;
    }
    .sale-image{
        width: 40%;
    }
}
@media screen and (max-width: 925px){

   .buttons a{
        width: 140px;
        font-size: 20px;
        padding: 14px 30px;
    }
}

@media screen and (max-width: 839px) {

    header {
        flex-direction: column;
    }

    .hero{
        height: 500px;
    }

    .heroright{
        height: 500px;
    }

    .heroright img{
        padding-top: 0px;
    }

    .menu-toggle {
        display: block; 
    }

    nav{
        display: none; 
    }

    #headerIcons {
        display: none; 
    }
    
    header.active {
        flex-direction: column;
    }

    header.active nav {
        display: block;
        width: 100%;
    }

    header.active .nav_links {
        flex-direction: column;
        width: 100%;
        height: auto;
    }
    header.active #headerIcons {
        display: block;
    }

    .heroleft{
        height: 500px;
        margin-left: 60px;
    }
    .heroleft h1{
        font-size: 40px;
    }
    .heroleft p{
        font-size: 20px;
    }
   
    .nav_links {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin-top: 20px;
        padding: 0;
    }

    .nav_links li {
        align-items: center;
        padding: 10px;
    }

    #account{
        margin-top: 18px;
    }

    .icons{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      padding-left: 20px;
    }
    
    .banners {
        flex-direction: column;
        align-items: center;
    }

    .banner-left, .banner-middle, .banner-right {
        width: 90%;
    }

    .buttons {
        gap: 20px;
        flex-direction: column;
        align-items: center;
    }

    .buttons a{
        width: 130px;
        font-size: 22px;
        padding: 14px 24px;
    }

    .product-grid {
        width: 100%;
    }
    .product-card{
        width: 250px;
        height: 340px;
    }

    .subscribe {
        height: auto;
        padding: 40px 20px;
    }

    .subscribe h3{
        text-align: center;
    }

    .sub-form{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .email-section {
        max-width: 300px;
    }

    .sub-btn {
        width: 40%;
        margin-top: 10px;
        max-width: 300px;
    }

    .sale-section{
        width: auto;
        margin-left: 50px;
        margin-right: 50px;
    }

    .sale-title{
        width: 60%;
    }

    .sale-title h1{
        font-size: 32px;
    }
    .sale-title p{
        font-size: 24px;
    }
    .sale-title button{
        width: 180px;
        height: 60px;
        padding: 10px 10px;
        font-size: 20px;
    }
    .sale-image{
        width: 40%;
    }

    .row {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }

    .footer-col {
        width: 100%;
        text-align: center;
    }
}